.arte{
    background-color: #044040;

    header{
        padding-bottom: 75px;
        font-family: 'Aboreto', cursive;
    nav{
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            padding-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
           
            justify-content: space-between;
            list-style-type: none;
            .t1{
                font-size: 25px; 
                color: #011126;
                font-family: 'Aboreto', cursive;
            }
    
            & a {
            text-decoration: none;
            font-family: 'Aboreto', cursive;
            
            text-align: center;
            font-size: 30px;
    
        }
        }
        }
        .Vsunrise{
            margin: 10px 10px 10px 10px;
        }
        .art{
    
  
            border: 0px;
             padding-top: 90px;
             padding-bottom: 70px;
             margin-right: 15px;
             margin-left: 15px;
         }
        
        .t5{
            position: fixed;
            left: 0px;
            right: 0px;
            background-color: #044040;
        
        
            font-family: 'Aboreto', cursive;
            
            text-align: center;
            font-size: 75px;
            color: #8C1F28;
            padding-bottom: 100px;
        }
        .t52{
            position: fixed;
            left: 0px;
            right: 0px;
            background-color: #044040;
        
        
            font-family: 'Aboreto', cursive;
            
            
            text-align: center;
            font-size: 65px;
            color: #8C1F28;
            padding-bottom: 100px;
        }
       
       
       
       
       
        .footerA{
            font-family: 'Aboreto', cursive;
            font-family: 'Teko', sans-serif;
            color: #011126;
            background-color: #8C1F28;
            border-top: solid 10px  black;
            border-right: solid 10px #044040;
            border-left:solid 10px black;
            border-bottom: solid 10px #044040;
            padding-left: 0px;
            padding-right: 0px;
            position: inherit;
        }
       
       
       
       


}





